body{
    text-align: justify;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, black,  rgb(75, 74, 74)); /* alterei para gradiente linear */
    color: white;
}

header{
    /* width: 100%;
    height: auto; */
    background-image: url(imagens/CYA_Desenvolvimento.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 0;
    max-width: 100vw;
    height: 650px;
}

header.port{
    width: 100%;
    height: 300px;
    background-position-y:top;
}

h1, h2, h3, h4, h5, h6, p{
    margin-left: 3rem;
    margin-right: 3rem;
}

h1{
    text-align: center;
    color: #8c52ff;
}

h2{
    margin-bottom: 0;
    padding-bottom: 0;
    color: #8c52ff;
}

h4{
    margin-top: 0;
    padding-top: 0;
    border-radius: 8px;
    background-color: #8c52ff;
    text-align: center;
    font-size: 1.05rem;
}

ol li{
    list-style:lower-alpha; 
}

li{
    margin-left: 2.5rem;
    margin-right: 1.5rem;
}

sup{
    line-height: .05rem;
    font-size: .9rem;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: none;
    transition: bacground-color
}

a:hover{
    background-color: rgb(123, 98, 216);
    border-radius: 5px;
}

table{
    margin: 5%;
    border-collapse: collapse;
}

td{
    padding-right: 50px;
    text-align: left;
}

td.numero{
    text-align: right; 
}

th.habilidades{
    text-decoration: underline;
}

table.habilidades, tr.habilidades, th.habilidades, td.habilidades{
    border: none; 
}
table.portfolio, tr.portfolio, th.portfolio, td.portfolio{
    border: solid 2px white;
    padding: 5px 10px;
}

th.portfolio{
    text-align: center;
}
/* button{
    width: 13%;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-image:linear-gradient(to right, #004aad, #cb6ce6)
} */
    /* Navegação da página */
nav {
    font-size: 2rem;
    padding: 500px 20px 0px 20px;
    color: white;
   
}
nav.port{
    padding-top: 250px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    padding-right: 30px;
}

nav ul li a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none;
    padding: 7px 5px;
    transition: bacground-color
    /* Efeito da transição */
}

nav ul li a:hover {
    background-color: rgb(123, 98, 216);
    border-radius: 5px;
}

.centro{
    text-align: center;
    font-weight:900;
}

.icones{
    width: 40px;
    height: auto;    
}

.menu{
    margin: 0;
    text-align: right;
    position: absolute;
}

/* .menu1{
    display: inline; 
    vertical-align: top;
    object-position: center;
    padding-top: .5rem;
    padding-bottom: 1rem;
} */

/* #home{
    object-fit: contain;
    width: 100%;
    height: 100%;
} */

#angela, #carlos, #ysabella{
    background-position: left top;
    background-repeat: no-repeat;
    margin: 0;
}

.margem200{
    margin-left: 200px;
    padding: 0;
}

#angela{
    background-image: url(imagens/avatar2.png); /* alterei para png */
}

#carlos{
    background-image: url(imagens/avatar1.png); /* alterei para png */
}

#ysabella{
    background-image: url(imagens/avatar4.png); /* alterei para png */
}

/* #topo{
    /* margin-top: 3rem; 
}*/

/* .projetos{
    width: 25%;
    height: auto;
} */

#sgbd, #site, #app{
    background-position: left;
    background-repeat: no-repeat;
    margin: 0;
    margin-left: 10px;
    margin-top: 50px;
}

#sgbd{
    background-image: url(imagens/banco_de_dados.png);

}

#site{
    background-image: url(imagens/site.png);
}

#app{
    background-image: url(imagens/app.png);
}
.margem500{
    margin-left: 520px;
    margin-top: 50px;
    padding: 0;
}

.rodape1{
    text-align: center;
    font-size: 1rem;
    line-height: 0.5em;
    text-transform:uppercase;
    vertical-align:bottom;
    color: #01fefd;
}

.rodape2{
    text-align: right;
    font-size: 1rem;
    line-height: 0.5em;
    vertical-align: middle;
    padding-bottom: 2rem;
}

footer{
    padding-top: 2px;
    background-color: rgb(75, 74, 74);
}