body{
    text-align: justify;
    font-size: 16px;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #f7d7bd, #EADFDB);
}

header{
    width: auto;
}

img{
    object-fit: cover; /* ajusta a imagem para preencher todo o espaço do container, cortando a imagem para caber no container */
    width: 100%;
}

h1{
    text-align: center;
}

p, h1, h2, h3, h4, h5, h6{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

p{
    text-indent: 0rem;
}

sup{
    line-height: .05rem;
    font-size: .7rem;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: underline;

}

aside{
    width: min-content;
    height: min-content;
    position: relative;
}

.icones{
    position: absolute;
    
}

.menu{
    list-style-position: inside;
    line-height: 3.5rem;
    color: transparent;
}


.menu1{
    display: inline; 
    vertical-align: top;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    background-color: black;
}

table.menu{
    text-indent: 0%;
    width: 400px;
}


.rodape1{
    text-align: center;
    font-size: .75rem;
    line-height: 0.5em;
    text-transform: uppercase;
}

.rodape2{
    text-align: center;
    font-size: .75rem;
    line-height: 0.5em;